DEBUG=False
SECRET_KEY=defina sua chave secreta
ALLOWED_HOSTS=localhost,127.0.0.1,cursodjangopythonpro.herokuapp.com
DATABASE_URL=postgres://postgres:postgres@localhost/testdb
# Configuracoes do AWS
AWS_ACCESS_KEY_ID =
AWS_SECRET_ACCESS_KEY =
AWS_STORAGE_BUCKET_NAME =